body{background:darkslategrey;
}
h1{text-transform:capitalize;
    text-align:center;
    font-size:3rem;
}

 .poster {width:50%;
        margin-left:25%;
        margin-top: 50px;
        color: white;
        font-family: "Libre Baskerville", serif;
        text-align: center;
    }
    .poster-img {
        border: 5px solid darkblue;
        width: 80%;
    }
